<%= form_for(@comment) do |f| %>
  <% if flash[:alert] %>
    <div id="error_explanation">
      <h2><%= alert %></h2>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :placeholder => "Optional"%>
  </div>

    <%= f.hidden_field :stammr_post_id, :value=> @random_stammr.id %>

  <div class="field">
     <%= f.label :content %><br>
     <%= f.text_area :content, :placeholder => "Your anwser here.", :required => "required"   %>
   </div>
   <div class="actions">
    <%= f.submit "Comment", :class=> "btn btn-large btn-block"%>
   </div>
<% end %>
