<h1>Stammr</h1>
<p id="notice"><%= notice %></p>
<%= render 'form' %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Name</th>
      <th>Stammer post</th>
      <th>Date created</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.name %></td>
        <td><%= comment.stammr_post_id %></td>
        <td><%= comment.date_created %></td>
      </tr>
    <% end %>
  </tbody>
</table>

