
<div class="stammr_post tile">
    <%= @random_stammr.content %>
</div>

<div class="stammr_post tile">
    <p id="notice">
        <%= notice %>
    </p>
    <div class="comment_form">
        <%= render 'form' %>
    </div>
</div>

    <% @comments.each do |commentInstance| %>
        <div class="comment tile">
            <div class="comment_name">
                <strong>
                    <%= commentInstance.name %>
                </strong>
                    answered...
            </div>

            <div class="comment_content">
                <%= commentInstance.content %>
            </div>

            <div class="comment_date">
                <%= l commentInstance.created_at, format: :long %>
            </div>
        </div>
    <% end %>
